SQL_PASSWORD=poner_aqui_una_clave_segura
JWT_KEY=generar_una_clave_de_32_caracteres
ASPNETCORE_ENVIRONMENT=Development
DB_CONNECTION=Server=mysql_db;Port=3306;Database=db_farmacia;Uid=root;Pwd=poner_aqui_la_clave;