# Carpetas de compilación
**/bin/
**/obj/

# Configuración de IDEs
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

# Variables de entorno y secretos
.env
.env.*
!.env.example

appsettings.Development.json

# Archivos de publicación
publish/
*.pubxml

# Docker y respaldos
sql_data/
db_backups/
backups/
*.bak

# Archivos del sistema operativo
.DS_Store